{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'images/world.png' %}">
</head>
<body>
    <h1 class="test">jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <h1>jiijiji</h1>
    <p class="test">asdas</p>
    <img src="{% static 'images/world.png' %}" alt="">
</body>
</html>